.element {
  margin: 0 auto;
  max-width: 282px;
  height: 362px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

@media screen and (max-width: 319px) {
  .element {
    max-width: 95%;
    min-height: 1.5vw;
  }
}
